/* 

Puzzle Template

http://www.templatemo.com/tm-477-puzzle 

*/

a,
a:hover,
a:focus {
    text-decoration: none;
}
a:focus {
    outline: none;
}
body{
    margin:0;
    padding:0;
    background-image:url(../images/back.jpg);
    background-repeat:no-repeat;
    background-size:120% 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight:300;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
 
.tm-image {
    width: 100%;
    height: 100%;
}
.fixed-header{
    width:100%;
    float:left;
    /*background-color:#023D69;*/
    position:fixed;
    top:0;
    z-index:111;
    transition:all 0.4s;
    -webkit-transition:all 0.4s;
    padding: 35px 0px;
}
.navbar-toggle {
    position: absolute;
    top: 8px;
    right: 17px;
    margin: 0;
    z-index: 99999999;
    color: #fff;
    padding: 10px 10px;
    background-color: #006699;
    border: none;
    font-weight: bold;
    display:none;
}
.navbar-brand {
    color: #fff;
    font-weight:300;
    font-size: 38px;
}
.navbar-brand:hover,
.navbar-brand:focus {
    color: #93FAFF;
}
.fixed-header ul{
    padding:0;
    float:right;
    margin:0;
}
.fixed-header ul li{
    display:inline-block;
    padding: 15px 0px;
}
.fixed-header ul li a{
    text-decoration:none;
    color:#fff;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 30px 0;    
}
.fixed-header ul li a:hover,
.fixed-header ul li .current{
    color: #93FAFF;
    border-top:2px solid #93FAFF;
}
.fixed-header {
    background: transparent;
}
.fixed-header.scroll {
    background: rgba(2, 61, 105, 0.80);
    padding: 0;
}
.fixed-header.scroll .navbar-brand {
    font-size: 30px;
}

#home {
    padding-top: 8.5em;
}
.content {
    padding-right: 0px;
    padding-left: 0px;
}
.content-item {
    padding-right: 0px;
    padding-left: 0px;
    min-height:570px !important;
}
.content-item p:last-child {
    margin-bottom: 0;
}
.background.content-item-1 {
    padding: 60px 65px;
}
.last {
    padding-right: 0px;
    padding-left: 0px;
    min-height:284px !important;    
}
.background {
    background-color: #fff;
    padding: 55px 45px;
}
.about-text-container {
    font-style: italic;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.about-text {
    margin-bottom: 0;
    line-height: 1.6;
}
.main-title {    
    font-weight: 300;
    font-size: 34px;
    line-height: 1.4;
    margin-top: 70px;
    margin-bottom: 70px;
}
.section-title {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 25px;
}
.dark-blue-text {
    color: #006699;
}
.light-blue-text {
    color: #2FACFF;
}
.dark-blue-bordered-btn:hover,
.dark-blue-bordered-btn:focus,
.dark-blue-btn {
    background: #006699;
    color: white;    
}
.dark-blue-btn:hover,
.dark-blue-btn:focus,
.dark-blue-bordered-btn {
    background: none;
    border: 1px solid #006699;
    color: #006699;
}
.section-text {
    line-height: 1.6;
    font-size: 1em;
    margin-bottom: 15px;
}
.background ul {
   margin-bottom:20px;
}
.background li {
    list-style: none;
    font-size: 16px;
    line-height: 27px;
}
.btn {
    border-radius:0px;
    padding: 10px 25px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    margin-right: 15px;
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
}
.btn:last-child {
    margin-right: 0;
}
.btn-big {
    padding: 10px 40px;
    min-width: 176px;
}
.btn-contact {
    font-size: 17px;
    padding: 10px 35px;
    color: #807D7D;
    font-weight: 300;
    margin-top: 0;
    transition: all 0.3s ease;
}
.btn-contact:hover,
.btn-contact:focus {
    color: white;
    background-color: rgba(47,47,47,0.5);
}
.no-bg {
    background: none;
    border: 1px solid #aaa;
}
.yellow-btn {
    background:#ACA633;
    border:1px solid #ACA633;
    color:#fff;
}
.yellow-btn:hover,
.yellow-btn:focus {
    background: none;
    color: #ACA633;
}
.green-btn {
    background:#168887;
    border:1px solid #168887;
    color:#fff; 
}
.green-btn:hover,
.green-btn:focus {
    background: none;
    color: #168887;
}
.normal-btn {
    font-size: 16px;
    font-weight: 300;
    min-width: 145px;
}
.form-control {
    box-shadow: none;
    font-size: 16px;
    height: auto;
    padding: 8px 12px;
}
.form-group {
    margin-bottom: 18px;
}
.contact-form {
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}
.content-item input, .content-item textarea {
    border-radius:0px;
}
.contact-field {
    padding-left: 0;
    padding-right: 0;
}
.footer {
    color:#fff;
    font-size: 14px;
    font-weight: 400;
    padding:48px 0;
}
.footer a {
	color: #FF6;
}
.margin-b-0 {
    margin-bottom: 0;
}
.flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.pad-l-3 {
    padding-left: 3px;
}
.margin-b-25 {
    margin-bottom: 25px;
}

.border-radius20 {
    border-radius: 20px;
}

.btn1 {
    background: #f77d25;
    border-radius: 5px;
    background-image: linear-gradient(0deg, #822828, transparent);
    color: #fff;
    font-weight: 600;
}

.btnStyle1 {
    font-weight: bold;position: absolute;right: 0px; background-color: darkcyan; padding: 10px;
} 

.backBtn {    
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #ff9c56;
    color: #fff;
    font-weight: bold;
}

.headBtn {    
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #ff9c56;
    color: #fff;
    font-weight: bold;
}
.lable-p {
    margin-bottom: 0px;
    vertical-align: middle;
    padding-top: 6px;
    font-size: 16px;
    font-weight: 500;
    padding-right: 20px;
}

.item {
    width: 25%;
    background: #f9c278;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    border:solid 1px #444;
}

.nextBtn {
    background: cadetblue;
    width: 80px;
    height: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    float: right;
}

.page-subtitle{
    border: solid 1px #333;
    width: 270px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.goHome {
    float: right;
    width: 120px;
    border: solid 1px #444;
    margin-top: 35px; 
    text-align: center;
    height: 35px;
    line-height: 35px;
    margin-right: -40px;
    line-height: 35px;

}

#input1-1 {
    margin-left: 320px;width: 120px;margin-right: 10px;
}

#input2-1 {
    margin-left: 240px;width: 120px;margin-right: 10px;
}

.pad-80 {
    display: flex; padding-left: 80px;
}

.mar-100 {
    margin-left: 100px;
}

.pad-div {
    padding: 60px 65px 5px;
}

#input1-2, #input1-3, #input2-2, #input2-3{
    margin-right: 10px; width: 120px;
}

.everyMainDiv {
    display: block;margin-top: 60px; padding: 100px 200px 100px 200px;
}

.pad-20 {
    padding: 20px;
}

.loginMainDiv {
    display: block;
    position: relative;
}

.login-content-div {
    padding-left: 260px; padding-right: 260px;
}

.goHomeBtnDiv {
    margin-bottom: 20px;
}
.col-mdc-2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.margin-top-6 {
    margin-top: 6px;
}
#log-info {
    display: flex;margin-top: 20px;
}

.section_info {
    display: flex;
    align-items: center;
    width: 100%;
}
.box_content {
    margin-top: 15px;
}
.section_info .info_title {
    min-width: 75px;
    margin-bottom: 0;
}
.section_info .info_input {
    
}
.section_info .info_unit {
    min-width: 66px;
    padding: 0 6px;
    text-align: center;
    align-self: flex-end;
}

.m-container {
    margin: 110px;
}
.m-container1 {
    margin: 160px 110px;
}

@media (min-width: 1200px){
    .container {
        max-width: 1320px!important;
    }
}

@media (max-width: 360px) {
    body {
        width: fit-content;
    }
}

@media (max-width: 991px) {
    .m-container {
        margin-left: 0px;
        margin-right: 0;
    }
    .m-container1 {
        margin-left: 0px;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    #after {
        margin-top: 10px;
    }
}

@media (min-width: 767px) {
    #after {
        margin-left: 30px;
    }
}

@media (max-width: 995px) {
    #log-info {
        margin-top: 75px;
    }
}

@media (min-width: 768px) {
    .col-mdc-2 {
        -ms-flex: 0 0 14.28577%;
        flex: 0 0 14.2857%;
        max-width: 14.2857%;
    }
}

@media (max-width: 550px) {
    .goHomeBtnDiv {
        margin-bottom: 50px;
    }
}

@media (max-width: 320px) {
    .login-content-div {
        padding-left: 10px; padding-right: 10px;
    }
    .border-radius20 {
        padding: 0px;
    }
}

@media (max-width: 994px) {
    .everyMainDiv {
        padding: 100px 0px 100px 0px;
    }
}

@media (max-width: 400px) {
    .pad-20 {
        padding: 0px;
    }
    .border-radius20 {
        padding: 10px;
    }
}

@media (max-width: 665px) {
    #td-title{
        width: 90px;
    }
    .container > section {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 364px) {
    .dark-blue-text {
        font-size: 19px;
    }
}

@media (max-width: 990px) {
    .loginMainDiv {
        margin-bottom: 90px;
    }
}

@media (max-width: 1200px) {
    #input1-1{
        margin-left: 30px;
    }
    #input2-1 {
        margin-left: 30px;
    }
}

@media (max-width: 520px) {
    .container {
        padding: 0px
    }
    #input1-1 {
        margin-left: -20px;
    }
    #input2-1 {
        margin-left: -20px;
    }
    .sec-1{
        margin-left: -38px;
    }
    .pad-div {
        padding: 0;
    }
    section {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
    .container {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 460px) {
    #input1-1, #input1-2, #input1-3,#input2-1, #input2-2, #input2-3 {
        width: 60px; 
    } 
}

@media (max-width: 580px) {
    .pad-80 > input {
        width: 100px;
    }
}
@media (max-width: 992px) {
    .pad-80 {
        padding: 0;
    }
    .mar-100 {
        margin-left: 0px;
    }
}
 
tr { 
    text-align: center;
}
table {
    width: 100%;
}
.pad-left20 {
    display: flex;
    padding: 5px 60px;
}
.togo {
    width: 200px;
    background: #58ff03;
    border: none;
    background-image: repeating-linear-gradient(27deg, #270c0c, transparent 92px);
    height: 32px;
    border-radius: 4px;
    color: #fff;
}

#food-5 {
    float: right;
}
#food-5-div {
    margin-top: 30px;
}

@media screen and (max-width:1199px){
    .content-item {
        min-height: 470px !important;
    }
    .content-item img {
        min-height: 470px !important;
    }
    .background p {
        line-height: 22px;        
    }
    .background p,
    .background li {
        font-size: 13px;
    }
    .background h2 {
        margin-bottom: 15px !important;
    }
    p {
        margin: 0 0 10px;
    }
    .btn {
        margin-top: 15px;        
    }
    .background {
        background-color: #fff;        
    }
    .last {
        min-height: 235px !important;
    }
    textarea#message {
        height: 125px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .background {
        padding: 25px;
    }
    .background.content-item-1 {
        padding: 10px 10px;
    }
    .btn {
        margin-top: 10px;
    }
    .btn-contact {
        margin-top: 0;
    }
    .form-control {
        font-size: 0.9em;
    }
}

@media (max-width: 1200px) {
    .goHome {
        margin-right: 0px;
    }
}

@media (max-width: 995px) {
    #food-5 {
        float: left; 
        font-size: 14px;       
    }
    #food-5-div {
        margin-top: 0px;
    }
    .goHome {
        margin-top: revert;
    }
}
@media (max-width: 470px) {
    #food-5-div {
        display: none;
    }
}

@media screen and (max-width:991px){

    .content-item {
        min-height: inherit !important;
    }
    .content-item img {
        min-height: inherit !important;
    }
    .fixed-header ul li a {
        padding: 0px 15px;
    }
    .background p {
        line-height: 27px;
    }
    .background p,
    .background li {
        font-size: 16px;
    }
    .background h2 {
        margin-bottom: 20px;
    }
    p {
        margin: 0 0 20px;
    }
    .btn {
        margin-top: 20px;        
    }
    .last {
        min-height: 284px !important;
    }
    textarea#message {
        height: inherit;
    }
}

@media screen and (max-width:767px){
    .last {
        min-height: inherit !important;
    }
    .fixed-header.scroll .navbar-brand {
        padding: 12px 15px 0;
    }
    .navbar-toggle {
       display:block;
       top: 15px;
       background-color: white;       
    }
    .fixed-header.scroll .navbar-toggle {
        top: 8px;
    }
    .navbar-toggle .icon-bar {
        background-color: #006699;
    }
    
    .fixed-header ul li a:hover, 
    .fixed-header ul li .current {
        border-top: none;
    }
    .fixed-header {
        padding: 5px 0;
    }
    .fixed-header ul li a {
        font-size: 1em;
    }
    .main-menu ul {
        width: 100%;
        background-color: #023D69;
    }
    .main-menu {
        max-height: 0;
        transition: max-height 0.3s;
        overflow: hidden;
    }
    /* http://css3.bradshawenterprises.com/animating_height/ */
    .main-menu.show {
        max-height: 250px;
        overflow: auto;
    }
    .main-menu ul li {
        display: block;
        padding: 10px 0px;
        width: 100%;
        float:left;
    }
    .main-menu ul li a {
        padding: 0px 0px;
        width: 100%;
        float: left;
    }
    #home {
        padding-top: 62px;
    }
    .pad-l-3 {
        padding-left: 15px;
    }
}



@media screen and (max-width:500px) {
    .btn {
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .background.content-item-1 {
        padding: 40px 45px;
    }
}

@media screen and (max-width: 420px) {
    .background {
        padding: 40px 35px;
    }
    .background.content-item-1 {
        padding: 20px 25px;
    }
}

@media (max-width: 992px) {
    .border-radius20 {
        padding: 50px;
    }
}

